@import 'style.css';

.container-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-360 {
  width: 80%;
}

.centerContainer {
  width: 100%;
  top: 90%;
  height: 10%;
}
.buttonContainer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.cloudimage-360-img-magnifier-glass {
  /* width: 60%;
  height: 60%; */
  border: 3px solid #000;
  /* border-radius: 50%; */
  border-radius: 0% !important;
}
