*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
}
.videoContainer > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

video::-webkit-media-controls {
  display: none !important;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
video::slotted::-webkit-media-controls-container {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

.button {
  position: absolute;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #ff4500;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: white;
}
#compactFP_button {
  left: 8%;
  top: 10%;
}
#remoteAC_button {
  left: 30%;
  top: 5%;
}
#quickC_button {
  left: 65%;
  top: 10%;
}
#easilyAGP_button {
  left: 70%;
  top: 50%;
}
#fourCIDO_button {
  left: 63%;
  top: 72%;
}
#maximumU_button {
  left: 60%;
  top: 85%;
}
#quickS_button {
  left: 8%;
  top: 75%;
}
#viewR_button {
  left: 38%;
  top: 90%;
}
.back::before,
.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    35deg,
    transparent,
    transparent,
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    transparent,
    transparent
  );
  transition: 0.5s;
  animation: gloss 2s ease-in-out infinite;
  overflow: hidden;
}
.compactFP_label::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    35deg,
    transparent,
    transparent,
    transparent,
    transparent,
    #fff,
    transparent,
    transparent,
    transparent,
    transparent
  );
  transition: 0.5s;
  animation: gloss 2s ease-in-out infinite;
  overflow: hidden;
}

.svg {
  position: absolute;
  left: 0;
  top: 0;
}
.svgDot {
  position: absolute;
  left: 30%;
  top: 30%;
  -webkit-animation: morph 1s ease-in-out infinite;
  -moz-animation: morph 1s ease-in-out infinite;
  -o-animation: morph 1s ease-in-out infinite;
  animation: morph 1s ease-in-out infinite;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 1s;
}

.videoContainer {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 1s;
}
.container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  max-width: 20em;
}

.label {
  border: none;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: white;
  background-color: #ff4500;
  overflow: hidden;
}

.paragraph {
  color: white;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  transition: all ease-in-out 1s;
  overflow: hidden;
}

.backButton {
  position: absolute;
  width: fit-content;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #ff4500;
  cursor: pointer;
  z-index: 50;
  overflow: hidden;
}

#easilyAGP_backButton {
  bottom: 4rem;
  left: 10%;
}

#showCont {
  transition: all 3s ease-in-out;
}
.vanish {
  animation: vanish 2s ease-in-out forwards;
  pointer-events: none;
}

.short-vanish {
  animation: vanish 0.5s ease-in-out forwards;
}
.show {
  animation: show 2s ease-in-out forwards;
}

.warning {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(239, 20%, 10%, 0.82);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -100;
  opacity: 0;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
  margin: 2rem;
  text-align: center;
}
.warnIcon {
  font-size: 3rem;
  color: #ff4500;
}
@media screen and (orientation: portrait) {
  .warning {
    z-index: 100;
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  * {
    font-size: 0.8rem;
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes morph {
  0% {
    r: 3px;
  }
  50% {
    r: 6px;
  }
  100% {
    r: 3px;
  }
}
@keyframes gloss {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
